/**
 *  SCSS variables
 */
$container_width: 1140px;
$num_cols: 16;
$gutter: 20px;

/* Size of each grid column */
$grid_width: (1140 - ($num_cols - 1)*$gutter) / $num_cols;

$main_num_cols: round($num_cols / 1.618);
$sidebar_num_cols: $num_cols - $main_num_cols;

/* Content section dimensions in pixels */
$main_width_px: $main_num_cols * $grid_width + $gutter * ($main_num_cols - 1);
$sidebar_width_px: $sidebar_num_cols * $grid_width + $gutter * ($sidebar_num_cols - 1);

/* Content section dimensions in percentages */
$main_width: $main_width_px / $container_width * 100%;
$sidebar_width: $sidebar_width_px / $container_width * 100%;

@import "mixins";
@import "reset";
@import "seafarer";
@import "/static/js/fancybox-2.0.4/source/jquery.fancybox.css";

$link_color: hsl(196,83,30);

/**
 *  Start core styling
 */
body {
    background-color: #fff;
	font-size: 1em;
	padding: 16px 0 0;
	border-top: 2px solid #333;
	height: 100%;
}

a {
    text-decoration: none;
    color: $link_color;
    @include border-radius(2px);
}

a.active {
    color: white;
    background-color: $link_color;
}

img {
    @include border-radius(4px);
}

.highlight {
    background-color: #333;
}

.container {
    width: 97%;
    max-width: $container_width;
    margin: 0 auto;
    
    a:hover {
        color: white;
        background-color: $link_color;
    }
}

#main {
    float: left;
    position: relative;
    width: $main_width;
    min-height: 600px;
    margin: 0;
    @include border-radius(4px);
    
    > * {
        margin: $gutter 0;
    }
    
    h1.section-title {
        border-bottom: 3px solid #ccc;
        margin-top: 0;
    }
    
    #headline, .post-title {
        border-bottom: 3px solid #ccc;
        text-align: center;
        
        h1, h2 {
            margin-top: 0;
        }
        
        h2 {
            font-size: 1.2em;
            padding-bottom: 2em;
        }
    }
    
    .post-title h2 {
        padding-bottom: 0;
    }
    
    #latest {
        margin-top: 40px;
        
        h2:first-child {
            margin-top: 0;
        }
    }
    
    img.latest-ribbon {
        position: absolute;
        display: block;
        width: 240px;
        left: 50%;
        margin-left: -120px;
        margin-top: -30px;
    }
}

.sidebar {
    float: right;
    position: relative;
    width: $sidebar_width;
    margin: 0;
    
    &:first-child {
        margin-top: 2em;
    }
    
    ul {
        list-style-type: none;
        padding: 0.5em 0;
    }
    
    .wrapper {
        margin: 0;
        padding: 0 0 $gutter/2;
        
        > div, > article {
            display: block;
            clear: both;
            margin: 10px 0;
            margin-bottom: 10px;
        }
    }
    
    h1, h2, h3 {
        margin: 10px 0;
    }
    
    #me {        
        #mast {
            margin: 1.5em auto 1em;
            text-align: center;
            
            img {
                display: block;
                height: 75px;
                margin: 0.4em auto;
            }
            
            a {
                color: inherit;
            }
            
            a:hover {
                color: $link_color;
                background: none;
            }
        }
        
        h1 {
            font-size: 2em;
            margin: 0;
        }
        
        p {
            color: #555;
            margin: 10px;
            text-align: center;
        }
        
    }
    
    #nav {
        border-bottom: 1px solid #ccc;
        
        ul {
            display: block;
            padding: 0.2em;
            margin: 0;
            height: 1em;
            width: 100%;
            
            li {
                float: left;
                width: 33.333333%;
                text-align: center;
            }
        }
        
    }
    
    #recent {   

        h2 {
            display: block;
        }
          
        .archives-link {
            float: right;
        }
          
        ul {
            margin: 8px 0;
            padding-bottom: 0.5em;
            font-size: 1em;
            width: 100%;
            border-bottom: 1px solid #ccc;
            
            li {
                position: relative;
                clear: right;
                margin: 0;
                width: 100%;                
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    
    .social {         
        ul {
            margin: 0;
            
            li {
                display: inline;
                
                a:hover {
                    background: none;
                }
            }
        }
    }
    
    :last-child {
        margin: 0;
        padding: 0;
    }
}

.project-post {
    position: relative;
}

.project {
    margin-bottom: 2em;
    
    h2 {
        margin: 0.5em 0;
    }
    
    p {
        margin: 1em 0;
    }
}

.features {
    position: relative;
    display: block;
    overflow: hidden;
    
    img {
        margin: 1.2em auto;
        display: block;
        max-width: 100%;
        max-height: 66.6666%;
    }
}

#footer {
    font-size: 0.8em;
    width: 100%;
    background: #333 url('/static/img/xv.png');
    padding: 1em 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ddd;
    
    .container {
        position: relative;
    }
    
    p {
        margin: 0;
    }
}

.colophon {
    width: $grid_width * 10;
}

.copyright {
    position: absolute;
    width: $grid_width * 6;
    top: 0;
    right: $gutter;
    text-align: right;
}

.clear {
    clear: both;
}


@media screen and (max-width: 1024px) {
    #headline {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 768px) {
    
    body {
         padding-top: 6.2em;
    }
    
    #me {
        #mast {
            img.mug {
                display: none;
                height: 2em;
                float: left;
                margin: auto 1%;
            }
        }
        
        p.blurb {
            display: none;
        }
    }
    
    #main {
        float: none;
        width: 100%;
        min-height: 1em;
        border-bottom: 1px solid #ccc;
    }
    
    #topbar {
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        
        h1 {
            text-align: center;
        }
        
        #nav {
            margin: 0 auto;
            width: 98%;
            border: none;            
            background: #45484d; /* Old browsers */
            background: -moz-linear-gradient(top,  #45484d 0%, #333333 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#333333)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #45484d 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #45484d 0%,#333333 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #45484d 0%,#333333 100%); /* IE10+ */
            background: linear-gradient(top,  #45484d 0%,#333333 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
            
            
            height: 2em;
            @include border-radius(4px);
            
            li {
                font-weight: bold;
                text-shadow: -1px -1px 1px rgba(0,0,0,0.3);
                
                a {
                    color: #fff;
                }
                
                a:hover {
                    background: none;
                    text-decoration: underline;
                }
            }
        }
    }
    
    .sidebar {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    
    #main {
        font-size: 0.8em;
        &.latest {
            display: none;
        }
        
        .post-title {
            h1 {
                font-size: 1.8em;
            }
        }
    }
    
    #main.post {
        display: block;
    }
    
    .copyright {
        display: none;
    }
}

