/**
 *  SCSS variables
 */
$container_width: 1140px;
$num_cols: 16;
$gutter: 20px;

/* Size of each grid column */
$grid_width: (1140 - ($num_cols - 1)*$gutter) / $num_cols;

$main_num_cols: round($num_cols / 1.618);
$sidebar_num_cols: $num_cols - $main_num_cols;

/* Content section dimensions in pixels */
$main_width_px: $main_num_cols * $grid_width + $gutter * ($main_num_cols - 1);
$sidebar_width_px: $sidebar_num_cols * $grid_width + $gutter * ($sidebar_num_cols - 1);

/* Content section dimensions in percentages */
$main_width: $main_width_px / $container_width * 100%;
$sidebar_width: $sidebar_width_px / $container_width * 100%;

@import "reset";
@import "seafarer";

/**
 *  Start core styling
 */
body {
    background-color: #efefef;
	font-size: 1em;
	padding: 16px;
	border-top: 2px solid #333;
}

a {
    text-decoration: none;
}

.highlight {
    background-color: #333;
}

#container {
    width: 100%;
    max-width: $container_width;
    margin: 0 auto;
}

#main {
    float: left;
    position: relative;
    width: $main_width;
    margin: 0;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
    
    > * {
        margin: $gutter;
    }
    
    #headline {
        border-bottom: 3px solid #ccc;
        text-align: center;
        height: 110px;
        
        h1, h2 {
            margin-top: 0;
        }
        
        h2 {
            font-size: 1.2em;
        }
    }
    
    #latest {
        margin-top: 40px;
        
        h2:first-child {
            margin-top: 0;
        }
    }
    
    img.latest-ribbon {
        position: absolute;
        display: block;
        width: 240px;
        left: 50%;
        margin-left: -120px;
        margin-top: -30px;
    }
}

#sidebar {
    float: right;
    position: relative;
    width: $sidebar_width;
    margin: 0;
    
    .wrapper {
        //background: #fefefe;
        margin: 0 20px;
        padding: 10px 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        
        > div, > article {
            display: block;
            clear: both;
            margin: 10px $gutter;
            margin-bottom: 10px;
            border-bottom: 3px solid #ccc;
        }
    }
    
    h1, h2, h3 {
        margin: 10px 0 0;
        text-align: center;
    }
    
    #me {
        height: 110px;
        overflow: hidden;
        
        h1 {
            font-size: 2em;
            margin: 0;
        }
        
        p {
            margin: 0;
        }
        
        img {
            width: 50px;
            margin: 0 20px 5px 0;
            float: left;
        }
        
    }
    
    #recent {   
        h2 {
            display: block;
        }   
          
        ul {
            list-style-type: none;
            margin: 8px 0;
            font-size: 0.85em;
            width: 100%;
            
            li {
                clear: right;
                margin: 0;
                border-top: 1px solid #ccc;
                width: 100%;
                
                .post-date {
                    float: right;
                    text-align: right;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }
}

.clear {
    clear: both;
}