---
layout: base
title: "Jico Baligod"
---

<div id="main" class="latest">
  <div class="wrapper">
    {% for post in site.posts limit:1 %}
      <div id="headline">
        <hgroup>
          <h1>{{ post.title }}</h1>
          <h2>{{ post.date | date: "%B %e, %Y" }}</h2>
        </hgroup>
      </div> <!-- /#headline -->
      
      <div>
        <img src="/static/img/latest-ribbon.png" class="latest-ribbon">
      </div>
      
      <article id="latest">
        {% if post.features %}
          <div class="features">
            {% if post.features.size > 1 %}
                {% for feature in post.features %}
                    <a class="fancybox" rel="project" href="/static/img/features/{{ feature }}" {% unless forloop.first %}style="display:none"{% endunless %}>
                      <img src="/static/img/features/{{ feature }}" />
                    </a>
                {% endfor %}
            {% else %}
                <img src="/static/img/features/{{ post.features.first }}" />
            {% endif %}
          </div> <!-- /.features -->
          <script type="text/javascript">
              $(document).ready(function() {
                  $('.fancybox').fancybox();
              });
          </script>
        {% endif %}
        {% if post.project-url %}
        <h2 class="project-url">
          <a href="http://{{ post.project-url }}">
            {{ post.project-url }}
          </a>
        </h2>
        {% endif %}
        {{ post.content }}
      </article>
    {% endfor %}
  </div> <!-- /.wrapper -->
</div> <!-- /#main -->