---
layout: base
title: "Jico Baligod"
---

<div id="sidebar">
    
    <div class="wrapper">
        <div id="me">
            <div class="mast">
                <img src="/static/img/mug.jpg">
                <h1>Jico Baligod</h1>
            </div>
            
            <div class="clear"></div>
            
            <p>Code enthusiast, developer of things, tea drinker, and Linode support staffer.</p>
        </div>
        
        {% include nav.html %}
        {% include recent.html %}
        {% include social.html %}
    </div>

</div>

<div id="main">
    <div class="wrapper">
        {% for post in site.posts limit:1 %}
            <hgroup id="headline">
                <h1>{{ post.title }}</h1>
                <h2>{{ post.date | date: "%B %e, %Y" }}</h2>
            </hgroup>
            <div>
                <img src="/static/img/latest-ribbon.jpg" class="latest-ribbon">
            </div>
            <article id="latest">
              {{ post.content }}
            </article>
        {% endfor %}
    </div>
</div>