<div class="sidebar">
    <div class="wrapper">
        <div class="social">
            <ul>
                <li><a href="http://www.twitter.com/jicoooo">
                    <img src="/static/img/icons/circle/twitter.png" title="@jicooo on twitter" />
                </a></li>

                <li><a href="http://www.github.com/jico">
                    <img src="/static/img/icons/circle/github_alt.png" title="@jico on github" />
                </a></li>

                <li><a href="http://jicooo.tumblr.com">
                    <img src="/static/img/icons/circle/tumblr.png" title="@jicooo on tumblr" />
                </a></li>

                <li><a href="http://www.linkedin.com/in/jicobaligod">
                    <img src="/static/img/icons/circle/linkedin.png" title="Jico Baligod on linkedin" />
                </a></li>

                <li style="float:right;"><a href="http://feeds.feedburner.com/baligod"><img src="/static/img/icons/circle/feed.png" /></a></li>
            </ul>
        </div>
    </div>
</div>