@charset "UTF-8";
/**
 *  SCSS variables
 */
/* Size of each grid column */
/* Content section dimensions in pixels */
/* Content section dimensions in percentages */
/**
 *   CSS reset
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
Type-A-File "Field Report" designed by Russ Maschmeyer, aka StrangeNative.
http://www.strangenative.com
@strangenative

Creative Commons License by Attribution. 
Feel free to take it, adapt it, & use it on both commercial and non-commercial projects.
Though I'd like a smidgeon of credit, so just leave this bit in here. K?
*/
/*Pick Your Fonts*/
body, h3, h4, h5, h6, .run-in, dt {
  font-family: "museo-sans", Helvetica, Arial, sans-serif; }

h1, h2, .pullquote, blockquote, .sidenote h1, aside h1, .pullquote, .drop-cap, cite {
  font-family: "museo-slab", Helvetica, Arial, sans-serif; }

/*Size & Vertical Rhythm*/
body {
  font-size: 87.5%;
  font-size: 14px;
  line-height: 1.5em; }

/*HTML Standard Elements*/
h1 {
  font-size: 2.5em;
  line-height: 1.333em;
  margin: .97em 0 0em; }

h2 {
  font-size: 1.75em;
  line-height: 1.1em;
  margin: 2em 0 .5em; }

h1 + img, h2 + img {
  margin-top: 1em; }

h3 {
  font-size: 1.125em; }

h4 {
  font-weight: bold;
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

small {
  display: block;
  font-size: .75em;
  letter-spacing: .05em;
  margin: 2.2em 0 -0.2em;
  font-style: italic;
  line-height: 1.75em; }

p, ul, ol, form {
  margin: 1.5em 0 1em; }

ul {
  list-style-position: outside;
  list-style-type: disc;
  line-height: 1.5; }

li {
  margin-bottom: .75em; }

ol {
  list-style-position: outside;
  list-style-type: decimal; }

blockquote {
  font-style: italic;
  line-height: 1.6em; }

blockquote:before {
  font-family: Georgia, serif;
  content: "“";
  font-size: 2.75em;
  text-indent: -0.8em;
  margin-top: .1em;
  float: left;
  opacity: .3; }

cite {
  display: block;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin-top: 1.5em;
  margin-left: 1em;
  font-weight: 900;
  font-style: normal;
  font-size: .8em; }

cite:before {
  content: "— ";
  margin-left: -3.4em;
  margin-right: .9em;
  opacity: .3; }

pre {
  margin: 1.5em; }

dl {
  margin: 1.75em 0 1.75em; }

dt {
  font-style: italic;
  margin-top: 1.25em;
  font-size: 1.13em;
  font-weight: 700;
  border-bottom: 1px solid #999;
  background: #DDD; }

dd {
  font-style: italic;
  font-size: .85em;
  margin-top: 1em;
  line-height: 1.6em; }

abbr {
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: .1em; }

p {
  margin-bottom: 0;
  hyphenate: auto;
  hyphenate-before: 2;
  hyphenate-after: 3;
  hyphenate-lines: 3;
  orphans: 4; }

p span.pullquote {
  text-indent: 0; }

/*Compositional Elements*/
.kicker {
  font-size: 1.25em;
  line-height: 1.693em;
  /*font-style:italic;*/
  margin: -0.35em 0 -0.35em; }

.kicker, .pullquote {
  font-weight: 100; }

.run-in {
  font-style: italic;
  font-weight: bold; }

.superscript {
  font-family: arial, sans-serif;
  vertical-align: super;
  font-size: 75%;
  margin-right: .4em;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: .1em;
  line-height: 0; }

.subscript {
  font-family: arial, sans-serif;
  vertical-align: sub;
  font-size: 75%;
  margin-right: .4em;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: .1em;
  line-height: 0em; }

a.superscript, a.subscript {
  text-decoration: none; }

aside, .sidenote {
  font-size: .83em;
  font-style: italic;
  margin-top: 1.25em; }

aside h1, .sidenote h1 {
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1.5em;
  font-style: normal;
  font-weight: 900; }

aside p, .sidenote p {
  line-height: 1.7em;
  margin: 1.3em 0;
  font-style: normal; }

aside ul, aside ol, .sidenote ul, .sidenote ol {
  margin-top: 1.3em;
  line-height: 1.7em; }

aside ul li, aside ol li, .sidenote ul li, .sidenote ol li {
  margin-bottom: 1.3em; }

.pullquote {
  font-style: italic;
  letter-spacing: .05em;
  margin: .5em .7em .3em 0em;
  padding-top: .15em;
  line-height: 1.7em;
  display: block;
  float: left;
  font-size: 1.6em;
  width: 55%; }

.pullquote:before {
  font-family: Georgia, serif;
  content: "“";
  font-size: 2em;
  text-indent: -0.8em;
  margin-top: .05em;
  float: left;
  opacity: .3; }

.footnote {
  border-top: 1px solid black;
  font-size: .75em;
  margin-top: 3.5em; }

.footnote li {
  margin: 1.5em 0 1.5em;
  word-spacing: .1em;
  line-height: 1.75em; }

.caption {
  font-size: .8em;
  font-style: italic;
  margin: 0.6em 0 -0.2em; }

.kicker .run-in {
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: .25em;
  font-size: .9em; }

.drop-cap {
  display: block;
  font-style: normal;
  font-size: 5.1em;
  float: left;
  margin: .13em .1em 0 0;
  line-height: .67em;
  font-weight: 100; }

/*Tweaks*/
.kern {
  letter-spacing: -0.1em; }

/**
 *  Start core styling
 */
body {
  background-color: #fff;
  font-size: 1em;
  padding: 16px 0 0;
  border-top: 2px solid #333;
  height: 100%; }

a {
  text-decoration: none;
  color: #0d6a8c;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

a.active {
  color: white;
  background-color: #0d6a8c; }

img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.highlight {
  background-color: #333; }

.container {
  width: 97%;
  max-width: 1140px;
  margin: 0 auto; }
  .container a:hover {
    color: white;
    background-color: #0d6a8c; }

#main {
  float: left;
  position: relative;
  width: 61.842%;
  min-height: 600px;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  #main > * {
    margin: 20px 0; }
  #main h1.section-title {
    border-bottom: 3px solid #ccc;
    margin-top: 0; }
  #main #headline, #main .post-title {
    border-bottom: 3px solid #ccc;
    text-align: center; }
    #main #headline h1, #main #headline h2, #main .post-title h1, #main .post-title h2 {
      margin-top: 0; }
    #main #headline h2, #main .post-title h2 {
      font-size: 1.2em;
      padding-bottom: 2em; }
  #main .post-title h2 {
    padding-bottom: 0; }
  #main #latest {
    margin-top: 20px; }
    #main #latest h2:first-child {
      margin-top: 0; }
  #main img.latest-ribbon {
    position: absolute;
    display: block;
    width: 240px;
    left: 50%;
    margin-left: -120px;
    margin-top: -30px; }

.sidebar {
  float: right;
  position: relative;
  width: 36.404%;
  margin: 0; }
  .sidebar:first-child {
    margin-top: 2em; }
  .sidebar ul {
    list-style-type: none;
    padding: 0.5em 0; }
  .sidebar .wrapper {
    margin: 0;
    padding: 0 0 10px; }
    .sidebar .wrapper > div, .sidebar .wrapper > article {
      display: block;
      clear: both;
      margin: 10px 0;
      margin-bottom: 10px; }
  .sidebar h1, .sidebar h2, .sidebar h3 {
    margin: 10px 0; }
  .sidebar #me #mast {
    margin: 1.5em auto 1em;
    text-align: center; }
    .sidebar #me #mast img {
      display: block;
      height: 75px;
      margin: 0.4em auto; }
    .sidebar #me #mast a {
      color: inherit; }
    .sidebar #me #mast a:hover {
      color: #0d6a8c;
      background: none; }
  .sidebar #me h1 {
    font-size: 2em;
    margin: 0; }
  .sidebar #me p {
    color: #555;
    margin: 10px;
    text-align: center; }
  .sidebar #nav {
    border-bottom: 1px solid #ccc; }
    .sidebar #nav ul {
      display: block;
      padding: 0.2em;
      margin: 0;
      height: 1em;
      width: 100%; }
      .sidebar #nav ul li {
        float: left;
        width: 33.333333%;
        text-align: center; }
  .sidebar #recent h2 {
    display: block; }
  .sidebar #recent .archives-link {
    float: right; }
  .sidebar #recent ul {
    margin: 8px 0;
    padding-bottom: 0.5em;
    font-size: 1em;
    width: 100%;
    border-bottom: 1px solid #ccc; }
    .sidebar #recent ul li {
      position: relative;
      clear: right;
      margin: 0;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .sidebar #recent ul li.latest {
        display: none; }
  .sidebar .social ul {
    margin: 0; }
    .sidebar .social ul li {
      display: inline; }
      .sidebar .social ul li a:hover {
        background: none; }
  .sidebar :last-child {
    margin: 0;
    padding: 0; }

.project-post {
  position: relative; }

.project {
  margin-bottom: 2em; }
  .project h2 {
    margin: 0.5em 0; }
  .project p {
    margin: 1em 0; }

.features {
  position: relative;
  display: block;
  overflow: hidden; }
  .features img {
    margin: 1.2em auto;
    display: block;
    max-width: 100%;
    max-height: 66.6666%; }

ul#archives .post-date {
  float: right; }

#footer {
  font-size: 0.8em;
  width: 100%;
  background: #333333 url("/static/img/xv.png");
  padding: 1em 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ddd; }
  #footer .container {
    position: relative; }
  #footer p {
    margin: 0; }

.colophon {
  width: 525px; }

.copyright {
  position: absolute;
  width: 315px;
  top: 0;
  right: 20px;
  text-align: right; }

.clear {
  clear: both; }

@media screen and (max-width: 1024px) {
  #headline {
    font-size: 0.8em; } }
@media screen and (max-width: 768px) {
  body {
    padding-top: 6.2em; }

  #me #mast img.mug {
    display: none;
    height: 2em;
    float: left;
    margin: auto 1%; }
  #me p.blurb {
    display: none; }

  #main {
    float: none;
    width: 100%;
    min-height: 1em;
    border-bottom: 1px solid #ccc; }

  #topbar {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    #topbar h1 {
      text-align: center; }
    #topbar #nav {
      margin: 0 auto;
      width: 98%;
      border: none;
      background: #45484d;
      /* Old browsers */
      background: -moz-linear-gradient(top, #45484d 0%, #333333 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #333333));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #45484d 0%, #333333 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #45484d 0%, #333333 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #45484d 0%, #333333 100%);
      /* IE10+ */
      background: linear-gradient(top, #45484d 0%, #333333 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#333333',GradientType=0 );
      /* IE6-9 */
      height: 2em;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }
      #topbar #nav li {
        font-weight: bold;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3); }
        #topbar #nav li a {
          color: #fff;
          padding: 0 0.333em; }
        #topbar #nav li a:hover, #topbar #nav li a.active {
          background: #565656; }

  .sidebar {
    float: none;
    width: 100%; } }
@media screen and (max-width: 480px) {
  #main {
    font-size: 0.8em; }
    #main.latest {
      display: none; }
    #main .post-title h1 {
      font-size: 1.8em; }

  .sidebar #recent ul li.latest {
    display: block; }

  #main.post {
    display: block; }

  .copyright {
    display: none; } }
