<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1.0,width=device-width" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/static/css/pygments-monokai.css" type="text/css" />
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
  {% for stylesheet in page.css %}
  <link rel="stylesheet" href="{{ stylesheet }}" type="text/css" />
  {% endfor %}
  <!-- Load Typekit -->
  <script type="text/javascript" src="http://use.typekit.com/mrv3mna.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  {% if page.jquery %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  {% endif %}
  {% for script in page.js %}
  <script src="{{ script }}"></script>
  {% endfor %}
  <!-- GA -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23319813-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  
	<div class="container">
		{{ content }}
		{% include sidebar.html %}
	</div>
	
	{% include footer.html %}

</body>
</html>