<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8" />
  <meta name="author" content="Jico Baligod" />
  <meta name="description" content="Jico Baligod is a web developer and part-time Linodian. He likes to code and stuff." />
  <meta name="viewport" content="initial-scale=1.0,width=device-width" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/static/css/pygments-monokai.css" type="text/css" />
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
  <link rel="stylesheet" href="/static/js/fancybox-2.0.4/source/jquery.fancybox.css" type="text/css" />
  <!-- Load Typekit -->
  <script type="text/javascript" src="http://use.typekit.com/mrv3mna.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/static/js/fancybox-2.0.4/source/jquery.fancybox.pack.js?v=2.0.4"></script>
</head>
<body>
  
	<div class="container">
		{{ content }}
		{% include sidebar.html %}
		<div class="push"></div>
	</div>
	
	{% include footer.html %}
	
	<!-- gaug.es -->
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4f5d4e6c613f5d1036000026');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
  
</body>
</html>