---
layout: base
---

<div id="main" class="post project-post">
  <div class="wrapper">
    <header class="post-title">
      <hgroup>
        <h1>{{ page.title }}</h1>
        <h2>
          <a href="http://{{ page.project-url }}">
            {{ page.project-url }}
          </a>
        </h2>
      </hgroup>
      <h2>{{ page.date | date: "%B %e, %Y" }}</h2>
    </header>
    <article>
      {% if page.features %}
        <div class="features">
        {% if page.features.size > 1 %}
          {% for feature in page.features %}
              <a class="fancybox" rel="project" href="/static/img/features/{{ feature }}" {% unless forloop.first %}style="display:none"{% endunless %}>
                <img src="/static/img/features/{{ feature }}" />
              </a>
          {% endfor %}
        {% else %}
          <img src="/static/img/features/{{ page.features.first }}" />
        {% endif %}
        </div> <!-- /.features -->
      {% endif %}
      
      {{ content }}
    </article>
  </div> <!-- /.wrapper -->
</div> <!-- /#main -->

<script type="text/javascript">
  $(document).ready(function() {
      $('.fancybox').fancybox();
  });
</script>